@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
body {
  font-family: sans-serif;
  background-color: #c8fdfe;
  overflow: auto;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #c8fdfe;

}
p{
  font-size: 20px;
}

.container {
  text-align: left;
}

.title {
  font-size: 3rem;
}

h1.title{
  font-family: 'Fredoka One', cursive;
    line-height: 10px;
    font-size: 70px;
}

.margins{
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 70px;
}
.icon-bar {
  width: 100%;
  background-color: #F8F8C2;
  overflow: auto;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
}

.icon-bar a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 48px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #c8fdfe;
}

.newsBox{
  width: 400px;
  text-align: center;
  border-style: solid;
  border-width: medium;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 25px;
  box-sizing: border-box;
}

#more {display: none;}

#setup_button {
  display: none;
}

#header{
  position: fixed;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100px;
  background-color: #c8fdfe; 
  padding-left: 15px;
}

#myCont{
  overflow: auto;
  margin-top: 100px;
}
